
/* Sample 001 */
.fa-cart, .fa-favourite, .fa-submit {
    height: 50px;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 20px;
    color: rgb(29, 59, 59);
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.fa-cart:hover, .fa-favourite:hover, .fa-submit:hover {
    background-color: teal;
}

.fas, .far {
    padding-left: 20px;
    padding-right: 20px;
}

/* Sample 002 */

.button002 {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.button002a, .button002b, .button002c {
    border-radius: 5px;
    border: 1px solid plum;
    transition: all 0.5s;
    background-image: linear-gradient(plum, blueviolet);
}

.button002a:hover, .button002b:hover, .button002c:hover {
    border-radius: 20px;
}

/* Sample 003 */

.button003 {
    width: 300px;
    height: 60px;
    border: 5px solid;
    font-size: 22px;
    font-weight: bold;
    color: #491545;
    border-image-source: linear-gradient(#de076f, #491545);
    border-image-slice: 1;
    background-image: linear-gradient(white, white);
    transition: all 0.3s;
}

.button003:hover {
    background-image: linear-gradient(#de076f, #491545); 
    color: white;
}

/* Sample 004 */

