
.chart {
    width: 400px;
}

/* Sample 001 */
#piechart {
    border: 2px solid #aaa;
}  


/* Sample 002 */
#barchart {
    border: 2px solid #aaa;
    margin: 50px;
}  


/* MISC PENS */

/*Sample 001*/

.vertical_line {
    border-left: 4px solid #EA2027;
    height: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.text_box {
    height: 100px;
    width: 400px;
    margin-left: 25px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.box1 {
    border: 2px solid #FFC312; 
    top: -540px; 
}

.box2 {
    border: 2px solid #F79F1F;
    top: -490px;
}

.box3 {
    border: 2px solid #EE5A24;  
    top: -450px;
}


