/* Site Wide */

body {
    margin:0;
    padding:0;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.page-title {
    font-size: 40px;
    color: #aaa;
    text-align: left;
    margin: 50px;
    border-bottom: 5px solid #aaa;
    padding: 10px;
}

.sample-number {
    width: 120px;
    font-size: 40px;
    text-align: left;
    color: #aaa;
    padding: 10px;
    border-bottom: 5px solid #aaa;
    margin: 50px;
}

.source-code, .sample-title {
    font-size: 20px;
    color: #aaa;
    margin: 50px;
}

.source-link, .source-link:visited {
    color: #aaa;

}

.source-link:hover {
    color: grey;
}

.sample {
    margin: 50px;
}

.links {
    border-top: 5px solid #aaa; 
    text-align: center;
    margin: 0px 50px;
}

.links a, .links a:visited {
    font-size: 60px;
    color: #aaa;
}

.links a:hover {
    color: grey;
}

.fa-codepen, .fa-github, .fa-address-card, .fa-twitter {
    padding: 50px;
}

.copyright {
    text-align: center;
    font-size: 16px;
    color: #aaa;
    margin-bottom: 50px;
}

/*Index Page */

ul {
    padding: 0px;
    margin:0px;
}

.nav {
    text-align: center;
    margin-block-start: 0px;
}

.nav-item {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-size: 40px;
    color: #aaa;
    padding-bottom: 60px;
}

.nav-item a, .nav-item a:visited {
    text-decoration: none;
    color: #aaa;
}

.nav-item a:hover {
    color: grey;
}

