/* Sample 001 */

.bg001 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.neon001 {
   font-family: 'Londrina Outline', cursive; 
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3em;
    font-size: 65px;
}


.pink001 {
    text-shadow: 
    0 0 5px rgb(160, 54, 163),
    0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163),
    0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163),
    0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163) 
}

.blue001 {
    text-shadow: 
    0 0 5px  rgb(40, 87, 158),
    0 0 10px  rgb(40, 87, 158),
    0 0 20px  rgb(40, 87, 158),
    0 0 40px  rgb(40, 87, 158),
    0 0 80px  rgb(40, 87, 158),
    0 0 90px rgb(40, 87, 158),
    0 0 100px  rgb(40, 87, 158); 
}

.green001 {
    text-shadow: 
    0 0 5px rgb(46, 146, 43),
    0 0 10px rgb(46, 146, 43),
    0 0 20px rgb(46, 146, 43),
    0 0 40px rgb(46, 146, 43),
    0 0 80px rgb(46, 146, 43),
    0 0 90px rgb(46, 146, 43),
    0 0 100px rgb(46, 146, 43);
}


/* Sample 002 */

.neon002 {
    font-family: 'Codystar', cursive;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3em;
    font-size: 65px;
}

.bg002 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pink002:hover {
    text-shadow: 
    0 0 5px rgb(160, 54, 163),
    0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163),
    0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163),
    0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163) 
}

.blue002:hover {
    text-shadow: 
    0 0 5px  rgb(40, 87, 158),
    0 0 10px  rgb(40, 87, 158),
    0 0 20px  rgb(40, 87, 158),
    0 0 40px  rgb(40, 87, 158),
    0 0 80px  rgb(40, 87, 158),
    0 0 90px rgb(40, 87, 158),
    0 0 100px  rgb(40, 87, 158); 
}

.green002:hover {
    text-shadow: 
    0 0 5px rgb(46, 146, 43),
    0 0 10px rgb(46, 146, 43),
    0 0 20px rgb(46, 146, 43),
    0 0 40px rgb(46, 146, 43),
    0 0 80px rgb(46, 146, 43),
    0 0 90px rgb(46, 146, 43),
    0 0 100px rgb(46, 146, 43);
}

/* Sample 003 */

.gradient-border {
    border: 5px solid;
    padding: 0px 50px 50px;
    margin: 50px;
    border-image-source: linear-gradient(to bottom,red, blueviolet);
    border-image-slice: 0 1 0 1;
}

.gradient-border h1 {
    font-size: 60px;
    text-align: center;
    background: linear-gradient(to bottom, red, blueviolet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  
.gradient-border p {
    text-align: justify;
}

/*Sample 004*/

.text004 {
    width: 400px;
    margin: auto;
   padding: 0;
    background-color: #6b3c65;
    padding-top: 10px;
    padding-bottom: 20px;
}

.text004 li {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}


.text004-middle {
    font-size: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
}

a.text004-middle:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #009786;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.text004-middle:hover:before{
    visibility: visible;
    transform: scaleX(1);
}

.text004-left {
    font-size: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
}

a.text004-left:before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #009786;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.text004-left:hover:before{
    visibility: visible;
    width: 100%;
}

.text004-right {
    font-size: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
}

a.text004-right:before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    right: 0;
    background-color: #009786;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.text004-right:hover:before{
    visibility: visible;
    width: 100%;
}
