.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    color: gray;
    text-align: center;
}

form {
    border: solid silver 2px;
    padding: 30px;
    box-shadow: 3px 3px 10px silver;
    height: 150px;
}

#equals {
    font-size: 100px;
    color: gray;
    /* float: left; */
    padding: 0px 50px;
    margin: 0;
}

.field {
    width: 200px;
    padding: 10px;
    font-size: 50px;
    /* float: left; */
    border: 1px solid silver;
    box-shadow: inset 2px 2px 10px silver;
    color: gray ;
}

select {
    width: 222px;
    padding: 10px;
    font-size: 20px;
    color: gray;
    border: 1px solid silver;
    /* box-shadow: inset 2px 2px 10px silver; */
    background-color: silver;
}