h1 {
    text-align: center;
    margin: 0 100px;
}

@media screen and (max-width: 572px) {
    h1 {
        margin: 0;
    }
}

p {
    font-size: 16px;
}

.diagram {
    text-align: center;
}

.diagram img {
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

#form {
    margin: auto;
    width: 40%;
    border: 5px solid red;
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    text-align: center;
}

.inputs {
    width: 90%;
    margin-top: 10px;
    ;
    text-align: center;
    height: 30px;
}

.outputs {
    color: red;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#buttons {
    text-align: center;
    margin: 30px;
}

button {
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
}