body {
    background-color: rgb(0, 0, 0);
}

.container {
    background-color: #f5f5f5;
    width: 40%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

.sliders {
    text-align: center;
    padding: 30px 0px;
}

#red_slider,
#green_slider,
#blue_slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#red_slider:hover,
#green_slider:hover,
#blue_slider:hover {
    opacity: 1;
}

#red_slider::-webkit-slider-thumb,
#green_slider::-webkit-slider-thumb,
#blue_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#red_slider::-webkit-slider-thumb {
    background: #ff0000;
}

#green_slider::-webkit-slider-thumb {
    background: #00ff00;
}

#blue_slider::-webkit-slider-thumb {
    background: #0000ff;
}

#rgb_value {
    font-size: 20px;
    background-color: silver;
    opacity: 0.7;
    padding: 20px;
    width: 45%;
    margin: auto;
}